@import "tailwindcss";
@plugin "daisyui";

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: aliceblue;
}

::-webkit-scrollbar-thumb {
  background: #1d1c1c;
  border-radius: 10px;
}
